<?php

/** @var \Celaeno\Form\Form $form */

?>

<table>
    <?php foreach ($form->getWidgets() as $widget): ?>
        <tr>
            <td><?php echo $widget->getLabel(); ?></td>
            <td><?php echo $widget->render(); ?></td>
        </tr>
    <?php endforeach; ?>
</table>
