<?php
use Celaeno\Util;
?>
<table>
    <tbody>
        <tr>
            <th></th>
            <th>Meters (real world scale)</th>
        </tr>
        <tr>
            <th class="entityFieldName">X</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getX()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Y</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getY()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Z</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getZ()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">X maximum</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getXMaximum()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">X minimum</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getXMinimum()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Y maximum</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getYMaximum()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Y minimum</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getYMinimum()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Z maximum</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getZMaximum()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Z minimum</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getZMinimum()); ?></td>
        </tr>
        <tr>
            <th class="entityFieldName">Radius</th>
            <td class="entityFieldNumber entityFieldLocation"><?php echo Util::formatNumber($this->entity->getRadius()); ?></td>
        </tr>
    </tbody>
</table>
