<?php if (null !== $this->entity->getFaction()): ?>
    <p>
        Sovereignty belongs to the <a href="<?php echo $this->url('faction/show', array('id' => $this->entity->getFaction()->getName())); ?>">
            <?php echo $this->entity->getFaction()->getName(); ?></a>.
    </p>
<?php endif; ?>