<table>
    <tbody>
        <tr>
            <th class="entityFieldName">Efficiency</th>
            <td class="entityFieldNumber"><?php echo $this->entity->getReprocessingEfficiency() * 100; ?>%</td>
        </tr>
        <tr>
            <th class="entityFieldName">Stations take</th>
            <td class="entityFieldNumber"><?php echo $this->entity->getReprocessingStationsTake() * 100; ?>%</td>
        </tr>
        <tr>
            <th class="entityFieldName">Hangar flag</th>
            <td class="entityFieldNumber"><?php echo $this->entity->getReprocessingHangarFlag(); ?></td>
        </tr>
    </tbody>
</table>