<p>
    This moon resides in the planetary system
    <a href="<?php echo $this->url('planetary-system/show', array('id' => $this->entity->getPlanet()->getStar()->getPlanetarySystem()->getName())); ?>">
        <?php echo $this->entity->getPlanet()->getStar()->getPlanetarySystem()->getName(); ?></a> and in the region
    <a href="<?php echo $this->url('region/show', array('id' => $this->entity->getPlanet()->getStar()->getPlanetarySystem()->getConstellation()->getRegion()->getName())); ?>">
        <?php echo $this->entity->getPlanet()->getStar()->getPlanetarySystem()->getConstellation()->getRegion()->getName(); ?></a> and the constellation
    <a href="<?php echo $this->url('constellation/show', array('id' => $this->entity->getPlanet()->getStar()->getPlanetarySystem()->getConstellation()->getName())); ?>">
        <?php echo $this->entity->getPlanet()->getStar()->getPlanetarySystem()->getConstellation()->getName(); ?></a>.
</p>
<p>
    The moon's planet is: <a href="<?php echo $this->url('planet/show', array('id' => $this->entity->getPlanet()->getName())); ?>">
        <?php echo $this->entity->getPlanet()->getName(); ?></a>.
</p>